.thanks{
    background:var(--back-color);
}

.thank-you span i{
    font-size: 5rem;
    color: green;

}

.thank-you h1{
    font-size: 3.6rem;
    font-family: var(--subtitle-font-name);
}

.thank-you h3{
    font-size: 2rem;
    color: var(--text-color);
}


.login__form p{
    font-size: .9rem;
    color: var(--text-color);
    margin-top: 1.5rem;
    text-align: center;
}

.thank-you p a{
    color: var(--heading-color);
    text-decoration: none;
    margin-left: 5px;
    font-weight: 500;
}
